/*geral*/
body{
  background-color: #CD853F;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
/*CapaKP*/
.geral_capa, .geral_login, .geral_menu, .geral_funcionarios, .geral_produtos, .geral_vendas{
  background-color: #F5DEB3;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
}
/*CapaKP*/
#titulo h1, h2, button{
  color:black;
  text-align: center;
}
#titulo h2{
  font-family: cursive;
  margin-bottom: 50px;
  color: #D2691E;
}
#botao_login{
  margin-left: 40%;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
  font-size: 1rem;
  background-color: #8B4513;
  color: white;
  margin-bottom: 50px;
}
#botao_login:hover{
  background-color: #D2691E;
  box-shadow: 0 0 1em gray;
}
#titulo h1{
  color: #8B4513;
  font-size: 3.12rem;
  padding-top: 30px;
}
.sobreKP{
  overflow: hidden;
}
.sobreKP img{
  width: 210px;
  height: 140px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.sobreKP img:hover{
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
#id_croissant{
  margin-left: 10px;
  margin-right: 60px;
}
#id_pao{
  margin-right: 60px;
}
#id_text_pao, #id_text_croissant, #id_text_torta{
  color: #8B4513;
}
.sobreKP h3{
  display: inline-block;
}
#id_text_croissant{
  margin-left: 10px;
  margin-right: 120px;
}
#id_text_pao{
  margin-right: 105px;
}
.sobreKP h2{
  color: #D2691E;
  font-size: 2rem;
}
.sobreKP p{
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  text-indent: 0.6rem;
}
iframe{
  margin-left: 13%;
}
#id_email{
  display: block;
}
#id_email, #id_telefone, #proprietarias{
  color: #8B4513;
  margin-left: 10px;
  margin-top: 10px;
}
#proprietarias{
  text-align: center;
}
.barra{
  background-color:#8B4513;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}
.barra h1{
  margin-top: 5px;
}
/*LoginKP*/
.painel{
	border-radius: 20px;
	max-width:800px;
	background-color: white;
	margin-left: 20%;
	padding-top: 10%;
	padding-bottom:12%;
}
#label_usuario{
	font-size:18pt;
	display:block;
	color:#8B4513;
}
#label_senha{
	font-size:18pt;
	margin-top: 20px;
	display: block;
  color:#8B4513;
}
#input_senha{
	display:block;
	border-width: 1px;
	border-radius: 15px;
	width:350px;
	height:40px;
}
#input_usuario{
	border-width:1px;
	border-radius:15px;
	width:350px;
	height:40px;
}
#entrar{
	color:white;
	font-size:12pt;
	border-width:1px;
	border-radius:20px;
	width:200px;
	height:40px;
	margin-top:20px;
	background-color:#8B4513;
}
#entrar:hover{
  background-color: #D2691E;
}
/*menu*/
.oferta_dia{
  overflow: hidden;
}
.oferta_dia h2{
  color: #8B4513;
  padding-top: 50px;
  font-size: 40px;
}
.oferta_dia img{
  padding-top: 20px;
  width: 350px;
  height: 190px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  margin-left: 225px;
}
.oferta_dia img:hover{
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.oferta_dia h3{
  margin-left: 34%;
  color: #D2691E;
}
.oferta_dia h4{
  margin-left: 45%;
  color: #8B4513;
}
.oferta_dia h5{
  margin-top: 10px;
  margin-left: 43%;
  font-size: 40px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  color: #D2691E;
  margin-bottom: 30px;
}
.oferta_dia h5:hover{
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.menu button{
  border-radius: 15px;
  font-size: 30px;
  background-color: #8B4513;
  font-weight: bold;
  color: white;
  border-width: 0;
  margin-bottom: 20px;
}
#id_funcionarios{
  margin-left: 80px;
}
#id_vendas{
  margin-left: 70px;
}
#id_produtos{
  margin-left: 70px;
}
.tabela h1, .tabela_prod h1{
  padding-top: 50px;
}
.tabela{
  margin-left: 20px;
}
th{
  background-color: #F4A460;
  width: 150px;
}
td{
  background-color: #FFDEAD;
}
td input{
  width: 100px;
}
#b2, #botao_edita, #adic, #b3, #botao_edita_prod, #adic_prod, #botao_edita_vendas, #rem_vendas, #final_vendas, #botao_adic_prod_vendas{
  background-color: #CD853F;
  border-width: 0;
  border-radius: 10px;
}
#adic, #adic_prod{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 25px;
}
.tabela_prod{
  margin-left: 135px;
}
.tabela_vendas h1{
  padding-top: 50px;
  margin-left: 10px;
}
#preco_final{
  margin-left: 700px;
  font-weight: bold;
}
.tabela_vendas h2{
  margin-left: 700px;
}
 #final_vendas{
 margin-bottom: 10px;
 margin-left: 10px;
}
.tabela_vendas{
  margin-left: 10px;
}
